
.banner {
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 500px;
  background-image: url(https://kt.gov.lt/uploads/news/images/852x536_crop/4628_fc05924254a3d9625612e7b63cc7751a.jpg);
  justify-content: center;
  align-items: center;
  h2 {
  color: white;
  font-size: 75px;
}
}

