.card-test {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  background-color: #F4F4F4;
  padding: 50px;
  a {
    text-decoration: none;
    &:hover{
    }
  }
  div {
    height: 200px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(200,200,200, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    transition-duration: 500ms;
    &:hover {
      transform: scale(1.05);
    }
  }
}
.list-movies{
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 400px;
  background-size: cover;
  transition: 500ms;
    &:hover {
      filter: grayscale(90%);
      h2, p, a {
      opacity: 1;
    }
  }
  h2, p, a {
    text-decoration: none;
    color: white;
    opacity: 0.01;
  }
}
